@import "tailwindcss";

@theme {
  --color-primary: #788f9c;
  --color-secondary: #bac2bd;
  --color-accent: #e0cec9;
  --color-background: #f4f5f5;
  --color-text: #37474f;

  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}

@layer base {
  html {
    @apply bg-background text-text;
  }

  * {
    scrollbar-color: #788f9c #e5e7eb;
    scrollbar-width: thin;
  }

  *::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  *::-webkit-scrollbar-track {
    background: #e5e7eb;
  }

  *::-webkit-scrollbar-thumb {
    background: #788f9c;
    border-radius: 9999px;
    border: 2px solid #e5e7eb;
  }

  *::-webkit-scrollbar-thumb:hover {
    background: #627783;
  }
}