# --- Standard ---
.idea
.DS_Store
*10.DS_Store?
.env
.env.*
### Language Specific ###
# Java/Spring
*.class
*.jar
!backend/gradle/wrapper/gradle-wrapper.jar
*.war
*.test
.gradle/
build/
out/
\*.gradle*

# Node / Frontend (Vue)
node_modules/
dist/
.npm/
.yarn/
.pnpmfile
.pnpm/
yarn.lock
package-lock.json

# Database persistence
/postgres_data/